*{
    box-sizing: border-box;         
}

body{
    background-color: #053671;
    margin: 0;;
    padding: 0;
}

/*--------------NAV AND BANNER-----------------*/
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/Sobre-Mi/images/banner_backgroud.jpg");
    background-size:cover;
   
}

#banner #banner_announcement{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#nav{
    display: flex;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 2rem;
}


#img_logo_nav {
    width: 200px;
}

#nav_btn{
    border: none;
    color: transparent;
}

#nav_btn img{
    width: 80px;
}

#banner_announcement img{
    width: 50rem;
    padding-bottom: 10rem;
}

/*---------------ABOUT ME----------------*/

#about_me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-family: "Cormorant Unicase", serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 3rem;
    color: #FFD88F;
    padding-top: 2rem;
}

#about_me_block{
    display: flex;
    justify-content:center;
    align-items: center;
}

#my_image {
    width: 30rem;
    
}

#about_me_info{
    display:flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    font-family: "Bodoni Moda", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    padding-left: 3rem;
}

#about_me_firstp{
    font-size: 2.4rem;
}

#about_me_secondp{
    font-size: 2rem;
}

/*--------FAB SONGS----------*/
#seccion_hobbies{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8rem;
}

h2{
    font-family: "Cormorant Unicase", serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 2.5rem;
    color: #FFD88F;
}

h3{
    font-family: "Cormorant Unicase", serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 1.5rem;
    color: #ffffff;
    padding-right: 7rem;
}  


/*--------FAB SONGS----------*/

#favourite_songs{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.fab_song_container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.song{
    margin: 2rem;
    padding-left: 8rem;
    width: 70rem;
}

.comments{
    margin-left: 2rem;
}

.comments h2{
    font-family: "Cormorant Unicase", serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 2.5rem;
    color: #FFD88F;
}

.comments h3{
    font-family: "Cormorant Unicase", serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 1.5rem;
    color: #ffffff;
    padding-right: 7rem;
}

