*{
    box-sizing: border-box;
    text-decoration: none;          
}

body{
    background-color: #053671;
    margin: 0;;
    padding: 0;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/Sobre-Mi/images/banner_backgroud.jpg");
    background-size:cover;
   
}

#banner #banner_announcement{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#nav{
    display: flex;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 2rem;
}


#img_logo_nav {
    width: 200px;
}

#nav_btn{
    border: none;
    color: transparent;
}

#nav_btn img{
    width: 80px;
}

#banner_announcement img{
    width: 50rem;
    padding-bottom: 10rem;
}

